run = "python app.py"

[workflows]

[[workflows.workflow]]
name = "Run Flask App"
author = 34928350
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 app.py"

[[ports]]
localPort = 6280
externalPort = 80
